.WhySection(id='WhyCauldron')
  .WhySection__container
    .WhySection__title So Why Use Cauldron?
    .WhySection__p.
      It's a fair question. There are a number of interactive computing environments (notebooks)
      to choose from these days. To be completely honest Cauldron isn't for everyone. It's proudly
      not a multi-language environment. It is built to be fantastic as a Python notebook and that's it.
      It's also built for data scientists, engineers and analysts that:

    .WhySection__header
      i.material-icons.WhySection__bullet.Icon--tiny fiber_manual_record
      div Take their code seriously
    .WhySection__li
        i.material-icons.Icon--green.WhySection__bullet check_box
        div Practice good style and consistency
    .WhySection__li
        i.material-icons.Icon--green.WhySection__bullet check_box
        div Find IDEs to be useful and import for productivity
    .WhySection__li
        i.material-icons.Icon--green.WhySection__bullet check_box
        div Utilize modularity with functions and library development

    .WhySection__header
      i.material-icons.WhySection__bullet.Icon--tiny fiber_manual_record
      div Follow good software practices
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Write tests for continuous validation and integration
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Use version control for more than archiving
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Engage in code reviews and collaborative development

    .WhySection__header
      i.material-icons.WhySection__bullet.Icon--tiny fiber_manual_record
      div Do more than data exploration
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Utilize flexible, continuous deployment and automation
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Deliver work into production (especially via containerization)
    .WhySection__li
      i.material-icons.Icon--green.WhySection__bullet check_box
      div Require reproducible, extensible results

    .WhySection__p.
      If many of these characteristics resonate with you, then Cauldron could be a good choice. If not,
      that's okay too. Cauldron isn't trying to be the biggest, most popular choice. It's trying
      to be the best choice for those that need something different than a lightweight
      data exploration tool.
