include /app/components/DownloadSection/DownloadSection
include NumberedStepTitle/NumberedStepTitle

html
  head
    title Cauldron Installation
    include /app/components/common-header
    link(rel='stylesheet' href='install.css')

  body
    div(id='app')
      include /app/components/PageBanner/PageBanner
      .Install__page
        include NavigationColumn/NavigationColumn
        .Install__display
          include IntroSection/IntroSection

          +makeNumberedStepTitle(1, 'Python-Package') Python Package
          include LibrarySection/LibrarySection

          +makeNumberedStepTitle(2, 'DesktopApplication') Desktop Application
          +createDownloadSection(
            configs.release_settings.editor.osx.stable,
            'OSX-Install',
            'OSX/MacOS',
            'apple-logo-white.svg',
            'Requires macOS 10.11+ El Capitan or later'
          )
            ol.DownloadSection__list
              li Download the DMG installer file
              li Open the DMG file
              li Drag the Cauldron application to the Applications folder
              li Start the Cauldron application to complete the installation process


          +createDownloadSection(
            configs.release_settings.editor.win.stable,
            'Windows-Install',
            'Windows',
            'windows-logo-white.svg',
            'Requires Windows 8.1 or later'
          )
            ol.DownloadSection__list
              li Download the EXE setup file
              li
                | Allow the EXE setup file to run by right clicking on it and
                | clicking on "properties" at the bottom of the context menu.
                | In the properties dialog, there may be a check box near the
                | bottom of the dialog for unblocking the application. You need
                | to check this box and then click OK in the dialog or Windows
                | will prevent the Cauldron installer from running.
              li
                | Double-click on the EXE setup file to run the automatic
                | installer.
              li Cauldron will open automatically once installation is complete

          +createDownloadSection(
            configs.release_settings.editor['linux-deb'].stable,
            'Deb-Linux-Install',
            'Linux (*.deb)',
            'linux-logo-white.svg',
            'Requires a recent Ubuntu, Mint, Debian or other distribution that uses the Debian Package Manager'
          )
            ol.DownloadSection__list
              li Download the DEB installer file
              li Double-click on the DEB installer to open the graphical package management installer
              li Install the application

            .DownloadSection__text You can also install the file from a terminal using the commands:

            :highlight(language='bash')
              $ sudo dpkg -i /path/to/cauldron-installer.deb
              $ sudo apt-get install -f .


          +createDownloadSection(
            configs.release_settings.editor['linux-rpm'].stable,
            'Rpm-Linux-Install',
            'Linux (*.rpm)',
            'linux-logo-white.svg',
            'Requires a recent RedHat, Fedora, CentOS, OpenSUSE or other distribution that uses the RPM Package Manager'
          )
            ol.DownloadSection__list
              li Download the RPM installer file
              li.
                Double-click on the RPM installer to open the graphical
                package management installer
              li Install the application

            .DownloadSection__text.
              You can also install the file from a terminal using the command:

            :highlight(language='bash')
              $ sudo rpm -ivh /path/to/cauldron-installer.rpm

      div(style='flex: 1')
      include ../components/PageFooter/PageFooter

    script(src="install.js")
