extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation

  .Display__title
    .Display__titleFunc def
    | json
  .Display__breadcrumb cauldron.display.json()

  +createFunctionDoc(display_functions.json)(hideTitle=true)

