@import "variables";

html, body, #app {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}


a {
  cursor: pointer;
  text-decoration: none;
}

a.link {
  font-weight: bolder;
  font-size: 0.95em;
  color: darken($cauldron-green, 15);
  margin: 0 0.2em;

  &--gray {
    color: darken($cauldron-green-dark, 15);
  }
}

.common {
  &__spacer {
    display: flex;
    flex-grow: 1;
  }
}

.bolder-text {
  font-weight: bolder;
  font-size: 0.95em;
  margin: 0 0.2em;
}
