@font-face {
  font-family: 'Roboto';
  src: url('/assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sahitya';
  src: url('/assets/Sahitya/Sahitya-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sahitya';
  font-weight: bold;
  src: url('/assets/Sahitya/Sahitya-Bold.ttf') format('truetype');
}
