.CodeBlock {
  display: flex;
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
  line-height: 1.6;
  background-color: #f9f9f9;
  border: 1px solid #DDD;

  &__lineNumbers {
    padding: 0.5em;
    background-color: #DDD;
    opacity: 0.2;
  }

  &__code {
    white-space: pre;
    overflow: auto;
    padding: 0.5em;
  }
}