extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation

  .Display__title
    .Display__titleFunc def
    | list_grid
  .Display__breadcrumb cauldron.display.list_grid()

  +createFunctionDoc(display_functions.list_grid)(hideTitle=true)

