include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | inspect
.Display__breadcrumb cauldron.display.inspect()

+createFunctionDoc(display_functions.inspect)(hideTitle=true)

.Display__h1 Basic Usage

:highlight()
  import cauldron as cd

  data = dict(
      a={'x': 1, 'y': 2, 'z': 3},
      b={'x': True, 'y': False, 'z': True},
      c={'x': 'Hello', 'y': 'World', 'z': 'Foo'}
  )

  # Add to the display
  cd.display.inspect(data)
