include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | latex
.Display__breadcrumb cauldron.display.latex()

+createFunctionDoc(display_functions.latex)(hideTitle=true)

