include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | listing
.Display__breadcrumb cauldron.display.listing()

+createFunctionDoc(display_functions.listing)(hideTitle=true)

