include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | markdown
.Display__breadcrumb cauldron.display.markdown()

+createFunctionDoc(display_functions.markdown)(hideTitle=true)

