include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | pyplot
.Display__breadcrumb cauldron.display.pyplot()

+createFunctionDoc(display_functions.pyplot)(hideTitle=true)

