include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | status
.Display__breadcrumb cauldron.display.status()

+createFunctionDoc(display_functions.status)(hideTitle=true)

