include ../../../components/FunctionDocumentation/FunctionDocumentation

.Display__title
  .Display__titleFunc def
  | tail
.Display__breadcrumb cauldron.display.tail()

+createFunctionDoc(display_functions.tail)(hideTitle=true)

