.Display {
  flex: 2;
  padding: 0.5em;
  min-width: 0;

  &__title {
    font-size: 2em;
    align-items: center;
    margin-top: 1em;
    display: flex;
  }

  @mixin titleEmphasis {
    font-size: 0.6em;
    margin: 0 0.25em 0 0;
    padding: 1px 6px;
    border-radius: 3px;
    font-weight: bold;
  }

  &__titleClass {
    color: #0a6aa1;
    background-color: #b3e4ff;
    @include titleEmphasis;
  }

  &__titleFunc {
    color: #5b287d;
    background-color: #d0ccff;
    @include titleEmphasis;
  }

  &__titleProp {
    color: #467d57;
    background-color: #c2ffc4;
    @include titleEmphasis;
  }

  &__subtitle {
    font-size: 1.75em;
    align-items: center;
    margin-top: 1em;
    display: flex;
  }

  &__subtitleClass {
    color: #0a6aa1;
    background-color: #b3e4ff;
    @include titleEmphasis;
  }

  &__subtitleFunc {
    color: #5b287d;
    background-color: #d0ccff;
    @include titleEmphasis;
  }

  &__entry1 {
    border-left: 4px solid #EEE;
    margin-left: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 1em;

    @media #{$less-than-m} {
      margin-left: 0.5em;
    }
  }

  &__breadcrumb {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1em;
  }

  &__link {
    @include green-link;
    margin: 0 0.2em;
  }

  &__h1 {
    margin: 2em 0 0.5em 0;
    font-size: 1.8em;
  }

  &__h1Subtitle {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  &__h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6em;
    font-weight: bold;
  }

  &__h1Subtitle {
    font-size: 1rem;
    opacity: 0.7;
    font-weight: normal;
  }

  &__p {
    line-height: 1.5;
    font-size: 1.1em;
    margin: 0.5em auto 1.1em auto;

    code {
      font-size: 0.9em;
      color: #666;
      background-color: #F7F7F7;
      padding: 2px 4px;
      margin: 0 5px;
    }
  }

  &__pre {
    border: 1px solid #DDD;
    background-color: #F9F9F9;
    color: #888;
    font-size: 0.8em;
    white-space: pre;
    padding: 1em;
    overflow: auto;
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
    margin: 1em;
  }

  &__columns {
    display: flex;
    flex-direction: row;

    @media #{$less-than-m} {
      display: block;
    }
  }

  &__column2 {
    flex: 50%;
  }

  &__img {
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  li {
    margin: 0.25em 0;
    vertical-align: top;
  }

  em {
    margin-right: 6px;
  }

  strong {
    font-style: normal;
    font-weight: bold;
    color: black;
  }

  em {
    font-style: italic;
    font-weight: bold;
  }
}


.OrderedList {
  counter-reset: OrderedList;

  &--indent {
    margin-left: 3em;

    @media #{$less-than-m} {
      margin-left: 1em;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
    font-size: 1.2em;
  }

  &__info {
    opacity: 0.8;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    @media #{$less-than-m} {
      margin: 1em 0;
    }

    &:before {
      content: counter(OrderedList);
      counter-increment: OrderedList;
      font-size: 3em;
      opacity: 0.4;
      margin-right: 0.25em;
    }
  }
}
