html
  head
    title Cauldron: Documentation
    include /app/components/common-header
    link(rel='stylesheet' href='/docs/docs.css')

  body
    div(id='app')
      include /app/components/PageBanner/PageBanner
      .Page
        include /app/docs/navigator/Navigator
        .Display
          block content
      div(style='flex: 1; min-height: 200px;')
      include /app/components/PageFooter/PageFooter

    script(src='/docs/docs.js')
