@import "../styles/styles";

@import "../components/PageBanner/PageBanner";
@import "../components/PageFooter/PageFooter";
@import "../components/StepCode/StepCode";
@import "../components/NotebookLink/NotebookLink";
@import "../components/FunctionDocumentation/FunctionDocumentation";
@import "../components/DirectoryStructure/DirectoryStructure";

@import "navigator/Navigator";
@import "display/Display";

.Page {
  display: flex;
  width: 100%;
  max-width: $centered-page-width + 300;
  margin: auto;

  @media #{$less-than-m} {
    flex-direction: column;
  }
}
