html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cauldron Documentation
    include ../components/common-header
    link(rel='stylesheet' href='docs.css')

  body
    div(id='app')
      section(id='bannerSection')
      .Page
        .Navigator
        .Display
      div(style='flex: 1; min-height: 200px;')
      include ../components/PageFooter/PageFooter

    script(src='docs.js')
