@import "../styles/styles";

@import "../components/banner/banner";
@import "../components/footer/footer";

@import "navigator/Navigator";
@import "display/Display";

.Page {
  display: flex;
  width: 100%;
  max-width: $centered-page-width + 300;
  margin: auto;

  @media #{$less-than-m} {
    flex-direction: column;
  }
}
