extends DocsLayout

block content
  .Display__h1 Cauldron Documentation

  .Display__p
  | Before you dig into the documentation make sure to visit the
  | #[a.Display__link(href="/install/") installation] page to get
  | Cauldron setup.