.Display {
  flex: 2;
  padding: 0.5em;
  min-width: 0;

  &__title {
    font-size: 2em;
    margin-top: 1em;
  }

  &__subtitle {
    font-size: 1.4em;
  }

  &__breadcrumb {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1em;
  }

  a {
    font-weight: bolder;
    font-style: italic;
    border-bottom: 2px solid transparent;
    opacity: 0.8;
    color: $cauldron-green-dark;
    transition:
      color 0.5s ease,
      border-bottom 0.5s ease;

    &:hover {
      color: $cauldron-green;
      border-bottom: 2px solid $cauldron-green;
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.1em;
  }

  li {
    margin: 0.25em 0;
    color: #666;
    padding-left: 30px;
    text-indent: -30px;
    vertical-align: top;
  }

  strong {
    font-style: normal;
    font-weight: bold;
    color: black;
  }

  em {
    font-style: italic;
    color: black;
    color: rgba(49, 62, 26, 0.7);
  }

  .DisplayFunc__args {
    li {
      margin: 0.5em 0;
    }

    em {
      font-size: 1em;
      font-style: normal;
      font-weight: bold;
      color: $cauldron-green-dark;
    }
  }
}
