mixin makeDotter()
  .VerticalDotter(class=attributes.class)
    .VerticalDotter__dot
      block
    .VerticalDotter__row
      .VerticalDotter__left
      .VerticalDotter__middle
      .VerticalDotter__right

mixin makeEndDotter()
  .VerticalDotter(class=attributes.class)
    .VerticalDotter__dot
      block