@mixin button($color, $back-color, $hover-color, $hover-back-color) {
  display: block;
  color: $color;
  text-decoration: none;
  background-color: $back-color;
  border: 3px solid transparent;
  padding: 0.5em 2em;
  cursor: pointer;

  transition:
          background-color 0.5s ease,
          color 0.5s ease,
          border 0.5s ease;

  &:hover {
    border: 3px solid $hover-color;
    background-color: $hover-back-color;
    color: $hover-color;
  }

  &__box {
    display: flex;
    @include center-center;
  }

  &__textBox {
    display: flex;
    flex-direction: column;

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  &__icon {
    margin-right: 0.5em;
  }
}
