include ../../components/BenefitItem/BenefitItem

.BenefitsSection
  .BenefitsSection__header
    div Combining the Functionality of Agile Software Development

  .BenefitsSection__aligner
    +makeBenefitItem('Production Ready', 'production-circle')
      div.
        Run Cauldron in non-interactive mode via Command Line Interface (CLI)
        or calling from other Python code. Either way makes it easy to run or
        integrate Cauldron into a production environment.

    +makeBenefitItem('Collaboration Friendly', 'vcs-circle')
      div.
        Cauldron doesn't mangle your code into a special notebook file format.
        Instead, your code exists as standard code files that are compatible
        with the excellent tooling used by software development teams.
        Things like pull requests, code reviews, continuous
        integration/deployment and much more work easily and naturally with
        Cauldron.

    +makeBenefitItem('Your Choice of Editor', 'ide-choice-circle')
      div.
        How you write your code is as important as how you run it. Develop in
        the editor of your choice and Cauldron will take it from there.
        Unlock the features and sophistication of modern code editors to
        author your notebooks.

  .BenefitsSection__header
    div With the Advantages of Notebooks

  .BenefitsSection__aligner

    +makeBenefitItem('Interactive Workflow', 'data-persistence-circle')
      div.
        What really sets notebooks apart is their distinctive development
        workflow. Cauldron has all of these workflow attributes, including
        data persistence, segmented code execution and dynamic output.

    +makeBenefitItem('Rapid Visualization', 'bar-plot-circle')
      div.
        Quickly visualize and share results in a web-based output. Cauldron is
        packed full of easy-to-use display functions, including integrated
        support for a wide range of Python visualization libraries.

    +makeBenefitItem('Uncompromised Python 3', 'python-circle')
      div.
        Designed, built and optimized specifically for Python 3.5+. Cauldron
        utilizes features unique to modern Python to deliver high productivity,
        high performance and streamlined library integration.
