.BenefitsSection {
  padding: 0 0 2em 0;

  &__header {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
  }

  &__aligner {
    max-width: $centered-page-width;
    margin: 2em auto;
    align-items: flex-start;

    @media #{$less-than-m} {
      display: block;
      padding: 0 1em;
    }
  }
}
