include ../../components/BenefitItem/BenefitItem

.BenefitsSection
  .BenefitsSection__header
    div A Different Kind of Data Analysis Environment
    div That is Free and Open Source

  .BenefitsSection__aligner

    +makeBenefitItem('Your Choice of Editor', 'ide-choice-circle')
      div.
        How you write your code is as important as how you run it. Develop in
        the editor of your choice and Cauldron will take it from there.
        Unlock the features and sophistication of modern code editors to
        author your notebooks.

    +makeBenefitItem('Uncompromised Python', 'python-circle')
      div.
        Designed, built and optimized specifically for Python. Cauldron
        utilizes features unique to Python to deliver high productivity,
        high performance and streamlined library integration.


  .BenefitsSection__header The Dexterity of a Notebook
  .BenefitsSection__aligner

    +makeBenefitItem('Interactive Workflow', 'data-persistence-circle')
      div.
        What really sets notebooks apart is their distinctive development
        workflow. Cauldron has all of these workflow attributes, including
        data persistence, segmented code execution and dynamic output.

    +makeBenefitItem('Rapid Visualization', 'bar-plot-circle')
      div.
        Quickly visualize and share results in a web-based output. Cauldron is
        packed full of easy-to-use display functions, including integrated
        support for a wide range of Python visualization libraries.


  .BenefitsSection__header The Wisdom of Software Engineering
  .BenefitsSection__aligner

    +makeBenefitItem('Version-Control Friendly', 'vcs-circle')
      div.
        Your code exists in standard code files. Nothing is mangled by a
        special notebook file format. This makes Cauldron notebooks compatible
        with common version control systems and the excellent tooling around
        them. Code reviews are beneficial for data analysis as well.

    +makeBenefitItem('Production Focused', 'production-circle')
      div.
        Run notebooks in non-interactive mode with Cauldron’s Command Line
        Interface (CLI) or by importing the library into other Python
        programs. Both ways make it easy to run or integrate a Cauldron
        notebook into a production environment.
