.StepCode {
  margin: 1em auto;

  &__banner {
    font-size: 0.9em;
    padding: 0.25em;
    display: flex;

    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;

    &--1 {
      background-color: #c0cff0;
      border-color: #95a0ba;
      color: #293f66;
    }

    &--3 {
      background-color: #f5d393;
      border-color: #caa450;
      color: #5a2f19;
    }

    &--2 {
      background-color: #a7cea6;
      border-color: #8bad8b;
      color: #274c2f;
    }

    &--4 {
      background-color: #555;
      border-color: #272727;
      color: white;
    }

    &--red {
      background-color: #fa9696;
      border-color: #bd7171;
      color: #791a1a;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__prefix {
    margin-right: 0.5em;
    opacity: 0.6;
  }
}