mixin stepCode(title, index)
  div(class='StepCode')
    div(class=['StepCode__banner', 'StepCode__banner--' + (index || '1')])
      if (index)
        div(class='StepCode__prefix') STEP #{index}:
      else
        div(class='StepCode__prefix') STEP:
      div(class='StepCode__title')= title
    div(class='StepCode__box')
      block
