$optional-color: #7d6799;
$required-color: black;

.Function {
  margin-top: 2em;

  &__description {
    font-size: 1.2em;
    line-height: 1.5;
  }

  &__banner {
    margin-top: 1em;
    border-bottom: 1px dotted #CCC;
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
  }

  &__header {
    font-size: 1.2em;
    color: #999;
  }

  &__spacer {
    flex: 1;
  }

  &__info {
    display: flex;
    font-size: 0.9em;
    align-items: center;

    &--required {
      font-weight: bold;
      color: $required-color;
    }

    &--optional {
      font-weight: bold;
      color: $optional-color;
    }
  }

  &__swatch {
    width: 10px;
    height: 10px;
    margin: 0 0.5em 0 2em;

    &--optional {
      background-color: $optional-color;
    }

    &--required {
      background-color: $required-color;
    }
  }
}

.Argument {
  display: flex;
  margin-top: 1em;

  &__box {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;

    &--optional {
      color: $optional-color;
    }

    &--required {
      color: $required-color;
    }
  }

  &__name {
    font-weight: bolder;
    font-size: 1.2em;
  }

  &__type {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.8em;
  }

  &__description {
    flex: 4;
    padding: 0.5em;
    line-height: 1.5;
  }

  &__optional {
    font-style: italic;
    color: $optional-color;
    margin-top: 0.25em;
  }

  &__default{
    font-size: 1.2em;
    font-weight: bold;
    color: $optional-color;
  }
}
