.HeadlineSection
  .HeadlineSection__container

    .HeadlineSection__titleBox
      img(class='HeadlineSection__logo' src='assets/images/logo-white.svg')
      .HeadlineSection__title Cauldron
      .HeadlineSection__subtitle The Unnotebook

    .HeadlineSection__actionBox
      .HeadlineSection__info.
        Interactive computing for
        complex data processing,
        modeling and analysis in Python 3
      a(class='HeadlineSection__startBtn' href='#WhyCauldron') Learn More
