.HeadlineSection
  .HeadlineSection__container

    .HeadlineSection__titleBox
      img(class='HeadlineSection__logo' src='assets/images/logo-white.svg')
      .HeadlineSection__title Cauldron
      .HeadlineSection__subtitle The Unnotebook

    .HeadlineSection__actionBox
      .HeadlineSection__info.
        The dexterity of a notebook and the wisdom of software
        engineering in one data analysis environment
      a(class='HeadlineSection__startBtn' href='#download') Get Started
