.HeadlineSection
  .HeadlineSection__container

    .HeadlineSection__titleBox
      img(class='HeadlineSection__logo' src='assets/images/logo-white.svg')
      .HeadlineSection__title Cauldron
      .HeadlineSection__subtitle The Unnotebook

    .HeadlineSection__actionBox
      .HeadlineSection__info.
        A notebook for
        complex data processing, modeling and analysis
      a(class='HeadlineSection__startBtn' href='/install') Get Started
