div(class='headline')
  div(class='headline__container')
    div(class='headline__title-box')
      img(class='headline__logo' src='assets/images/logo-white.svg')
      div(class='headline__title') Cauldron
      div(class='headline__subtitle') The Unnotebook


    div(class='headline__action-box')
      div(class='headline__info').
        The dexterity of a notebook and the wisdom of software
        engineering in one data analysis environment
      a(class='headline__start-btn' href='#download') Get Started
