.Headline
  div(class='Headline__container')
    div(class='Headline__titleBox')
      img(class='Headline__logo' src='assets/images/logo-white.svg')
      div(class='Headline__title') Cauldron
      div(class='Headline__subtitle') The Unnotebook


    div(class='Headline__actionBox')
      div(class='Headline__info').
        The dexterity of a notebook and the wisdom of software
        engineering in one data analysis environment
      a(class='Headline__startBtn' href='#download') Get Started
