.PageFooter {
  background-color: black;
  padding-bottom: 2.0em;

  &__aligner {
    max-width: $centered-page-width;
    margin: 0 auto;
    padding: 0.5em 1.0em;
  }

  &__copyright {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.4);
  }
}
