extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation
  include /app/components/NotebookLink/NotebookLink

  .Display__title
    .Display__titleFunc def
    | run_project
  .Display__breadcrumb cauldron.run_project()

  +createFunctionDoc(cauldron_functions.run_project)(hideTitle=true)
