mixin createFunctionDoc(data)
  div(class='Function')
    div(class='Function__description')
      :markdown-it=data.doc

    if (data.params && data.params.length > 0)
      div(class='Function__banner')
        div(class='Function__header') Arguments
        div(class='Function__spacer')
        div(class='Function__info')
          div(class=['Function__swatch', 'Function__swatch--required'])
          div(class='Function__info--required') Required
          div(class=['Function__swatch', 'Function__swatch--optional'])
          .Function__info--optional Optional
    else
      .Function__noArgs
        i(class='Icon') info_outline
        div This function takes no arguments

    for arg in data.params
      div(class='Argument')
        div(class=[
          'Argument__box',
          arg.optional ? 'Argument__box--optional' : 'Argument__box--required'
          ])
          div(class='Argument__name')
            :markdown-it=arg.name
          div(class='Argument__type')
            :markdown-it=arg.type
        div(class='Argument__description')
          :markdown-it=arg.description
          if(arg.optional)
            div(class='Argument__optional') Default Value:&nbsp;
              span(class='Argument__default')= arg.default

mixin createBullet(type)
  div(class=[
    'Function__bullet',
    type ? ('Function__bullet--' + type) : 'Function__bullet--info'
  ])
    if (type === 'warning')
      i(class=['Icon', 'Icon--xs']) warning
    else if (type === 'advanced')
      i(class=['Icon', 'Icon--xs']) lightbulb_outline
    else
      i(class=['Icon', 'Icon--xs']) info_outline
    .Function__bullet-text
      block
