html
  head
    title Cauldron: The Unnotebook
    include components/common-header
    link(rel='stylesheet' href='home/home.css')

  body
    div(id='app')
      section(id='bannerSection')
      include home/Headline/Headline
      include home/benefits/_benefits
      div(style='flex: 1')
      include home/DownloadSection/DownloadSection
      include components/PageFooter/PageFooter

    script(src='home/home.js')
