html
  head
    title Cauldron: The Unnotebook
    include components/common-header
    link(rel='stylesheet' href='home/home.css')

  body
    div(id='app')
      section(id='bannerSection')
      include home/headline/_headline
      // include components/home/about/_about
      include home/benefits/_benefits
      div(style='flex: 1')
      include home/download/_download
      include components/footer/_footer

    script(src='home/home.js')
