html
  head
    title Cauldron: The Unnotebook
    include components/common-header
    link(rel='stylesheet' href='home/home.css')

  body
    div(id='app')
      include components/PageBanner/PageBanner
      include home/HeadlineSection/HeadlineSection
      include home/NewsBanner/NewsBanner
      include home/QuickStartSection/QuickStartSection
      include home/WhySection/WhySection

      include home/ExecutionSection/ExecutionSection
      include home/ReaderSection/ReaderSection
      include home/NextStepSection/NextStepSection
      include components/PageFooter/PageFooter

    script(src='home/home.js')
