include ../components/NotebookLink/NotebookLink

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cauldron Gallery
    include ../components/common-header
    link(rel='stylesheet' href='gallery.css')

  body
    div(id='app')
      section(id='bannerSection')

      .GalleryPage
        .GalleryPage__title Gallery of Example Cauldron Notebooks
        .GalleryPage__subtitle
          span.
            The code for the all the examples shown in this gallery are
            available in the
          a(
            class='GalleryPage__link'
            href='https://github.com/sernst/cauldron-gallery'
          ) Cauldron-Gallery GitHub Repository
          span for reference.

        .GalleryPage__items

          +createNotebookLink('v1', 'bokeh-basics', 'Bokeh Basics')
            div
              | Basic plotting with Bokeh inside Cauldron. Uses the Auto MPG
              | dataset to create bar and scatter plots.

          +createNotebookLink('v1', 'plotly-basics', 'Plotly Basics')
            div
              | Basic plotting with Plotly inside Cauldron. Uses the Auto MPG
              | dataset to create histogram, bar and scatter plots.

          +createNotebookLink(
            'v1',
            'step-testing-example',
            'Step Testing Example'
          )
            div
              | A basic example of a notebook that includes step unit testing
              | to validate the functionality of the notebook.

      div(style='flex: 1; min-height: 150px;')
      script(src='gallery.js')
