include ../components/NotebookLink/NotebookLink
include ../components/ExternalLink/ExternalLink

html
  head
    title Cauldron Gallery
    include ../components/common-header
    link(rel='stylesheet' href='gallery.css')

  body
    div(id='app')
      include ../components/PageBanner/PageBanner

      .GalleryPage
        .GalleryPage__title Example Cauldron Notebook Gallery
        .GalleryPage__subtitle
          span.
            Source code for all examples in this gallery is available for
            reference in the Cauldron Gallery GitHub Repository

          +createExternalLink(
            'Cauldron Gallery Github',
            'https://github.com/Cauldron-Notebook/cauldron-gallery',
            '/assets/images/octocat-logo-black.svg'
          )

        .GalleryPage__items

          +createNotebookLink('v1', 'bokeh-basics', 'Bokeh Basics')
            div
              | Basic plotting with Bokeh inside Cauldron. Uses the Auto MPG
              | dataset to create bar and scatter plots.

          +createNotebookLink('v1', 'plotly-basics', 'Plotly Basics')
            div
              | Basic plotting with Plotly inside Cauldron. Uses the Auto MPG
              | dataset to create histogram, bar and scatter plots.

          +createNotebookLink('v1', 'pyplot-basics', 'Pyplot Basics')
            div
              | Basic plotting with PyPlot inside Cauldron. Uses the Auto MPG
              | dataset to create histogram, bar and scatter plots.

          +createNotebookLink(
            'v1',
            'step-testing-example',
            'Step Testing Example'
          )
            div
              | A basic example of a notebook that includes step unit testing
              | to validate the functionality of the notebook.

          +createNotebookLink(
            'v1',
            'joins-comparison',
            'SQL vs SQLAlchemy vs Pandas Joins'
          )
            div
              | Comparing inner join syntax between SQL, SQLAlchemy's
              | expression language and Pandas data frames.

      div(style='flex: 1; min-height: 150px;')
      script(src='gallery.js')
