html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cauldron Gallery
    link(rel='stylesheet' href='/external.css')
    link(rel='stylesheet' href='gallery.css')
    include ../components/gitter/_gitter

  body
    div(id='app')
      section(id='bannerSection')
      div(style='flex:grow')
      script(src='gallery.js')
