.ExecutionSection
  .ExecutionSection__display
    .ExecutionSection__row
      .ExecutionSection__imageColumn
        img.ExecutionSection__image(
          src="/assets/notebook-thumbnails/v1/application.png"
        )
      .ExecutionSection__textColumn
        .ExecutionSection__title An Execution Environment

        .ExecutionSection__p
          | wrapped inside a multi-threaded desktop application that provides
          | native functionality for interactive analyses.&nbsp;
          span.ExecutionSection--large.
            Browse the documentation for details on how you can take
            advantage of Cauldron's many features in your notebooks.

        div.ExecutionSection--large
          a.ActionButton.ActionButton--green(href="/docs") Documentation

    .ExecutionSection__textColumn.ExecutionSection__textColumn--small
      .ExecutionSection__p.
        Browse the documentation for details on how you can take
        advantage of Cauldron's many features in your notebooks.

      a.ActionButton.ActionButton--green(href="/docs") Documentation
