.ExecutionSection {
  padding: 3em 1em;
  background-color: #444;
  color: white;

  &--large {
    @media #{$less-than-l} {
      display: none;
    }
  }

  &__display {
    max-width: $centered-page-width + 300;
    margin: 0 auto;
  }

  &__row {
    display: flex;

    @media #{$less-than-l} {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 0.5em;
  }

  &__image {
    max-width: 800px;
    width: 100%;
    border: 1px solid #222;
  }

  &__textColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin-left: 2em;

    @media #{$less-than-l} {
      max-width: 800px;
      margin-left: 0;
      margin-top: 2em;
    }

    @media #{$less-than-s} {
      display: block;
    }

    &--small {
      @media #{$greater-than-m} {
        display: none;
      }
    }
  }

  &__imageColumn {
    padding-top: 2em;
    max-width: 800px;
  }
}
