.ExecutionSection {
  padding: 3em 1em;
  background-color: #444;
  color: white;

  &__display {
    max-width: $centered-page-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    width: 100%;
    margin-top: 2em;
  }

  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 0.5em;
  }

  &__header {
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 0.25em;
  }

  &__info {
    opacity: 0.8;
    font-size: 0.9em;
    margin-top: 5px;
  }

  &__block {
    display: flex;
    margin-bottom: 1em;
    flex: 1;
    overflow-x: auto;

    @media #{$less-than-l} {
      flex-direction: column;
    }
  }

  &__number {
    font-size: 3em;
    margin-right: 0.3em;
  }

  &__box {
    flex: 1;

    @media #{$greater-than-m} {
      padding-right: 2em;
    }
  }

  &__code {
    flex: 1;

    @media #{$less-than-l} {
      margin-top: 1em;
    }
  }
}
