.NextStepSection
  .NextStepSection__container
    .NextStepSection__title Got Questions, Ideas or Issues?
    .NextStepSection__p.
      We're an open community that is happy to help. Just reach out via one of these channels
      and we'll do what we can to assist or respond.

    .NextStepSection__buttonRow
      a.ActionButton.ActionButton--black(
        href="https://gitter.im/cauldron-notebook/Lobby"
      ) Chat on Gitter
      .NextStepSection__spacer
      a.ActionButton.ActionButton--black(
        href="https://github.com/sernst/cauldron/issues"
      ) Submit a GitHub Issue
