.NextStepSection
  .NextStepSection__display
    .NextStepSection__title Ready to get Started?
    .NextStepSection__p.
      Cauldron is free and open source. So why not give it a try? All you need
      to do is install the Python package and desktop application and you will
      be ready to go. Check out the installation guide for details and
      download links.

    a.ActionButton.ActionButton--black(href="/install") Install Cauldron

