include /app/components/NotebookLink/NotebookLink
include /app/components/ExternalLink/ExternalLink
include /app/components/DownloadSection/DownloadSection

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Install Cauldron Reader
    include /app/components/common-header
    link(rel='stylesheet' href='reader-install.css')

  body
    div(id='app')
      .ReaderInstall
        include InstallSection/InstallSection

      div(style='flex: 1; min-height: 150px;')
      include ../components/PageFooter/PageFooter
      script(src='reader-install.js')
