.IntroSection
  .IntroSection__title Cauldron Installation

  .IntroSection__text.
    Cauldron is a Python package and a desktop application. The Python package
    comes with a command line interface that can be used independently of the
    editor. If you wish to use Cauldron with a terminal, you do not need
    to install the desktop application. However, the Python package must be
    independently installed for the desktop application to function properly.

  .IntroSection__title(id='Install-Requirements') System Requirements
  .IntroSection__text.
    The following system requirements must be met for Cauldron to work:

  .Requirement
    .Requirement__iconBox
      img(class='Requirement__icon' src='/assets/images/number-circle-1.svg')
    .Requirement__text
      .Requirement__title Python 3.5+
      .Requirement__info.
        Cauldron takes advantage of the latest and greatest features of
        Python and so requires Python 3.5 or newer. Unfortunately, it cannot
        work with Python 2.

  .Requirement
    .Requirement__iconBox
      img(class='Requirement__icon' src='/assets/images/number-circle-2.svg')
    .Requirement__text
      .Requirement__title 64 Bit OS
      .Requirement__info.
        The editor is available for OSX, Windows and multiple Linux
        distributions, but they must be the 64 bit versions.
