.IntroSection
  .IntroSection__title Cauldron Installation

  .IntroSection__text.
    There are two steps to installing Cauldron. First you need to install the
    Python package using either pip or conda. After that you need to download
    and install the desktop application for your particular operating system.

  .IntroSection__title(id='Install-Requirements') System Requirements
  .IntroSection__text.
    The following system requirements must be met for Cauldron to work:

  .Requirement
    .Requirement__title Python 3
    .Requirement__info
      | Cauldron and uses the latest and greatest Python 3 has to offer
      | and works with the following Python 3 versions:
      ul
        li 3.5.3+
        li 3.6.3+
        li 3.7 (coming soon)
    .Requirement__info
      | Python 2 is nearing its&nbsp;
      a(href="https://pythonclock.org/") end of life
      | &nbsp;and lacks the necessary functionality to be supported.

  .Requirement
    .Requirement__title 64 Bit OS
    .Requirement__info.
      The desktop application is available for OSX, Windows and multiple
      Linux distributions, but they must be the 64 bit versions.
