.IntroSection
  .IntroSection__title Cauldron Installation

  .IntroSection__text.
    There are two steps to installing Cauldron. First you need to install the
    Python package using either pip or conda. After that you need to download
    and install the desktop application for your particular operating system.

  .IntroSection__title(id='Install-Requirements') System Requirements
  .IntroSection__text.
    The following system requirements must be met for Cauldron to work:

  .Requirement
    .Requirement__title Python 3.5+
    .Requirement__info.
      Cauldron takes advantage of the latest and greatest features of
      Python and so requires Python 3.5 or newer. Unfortunately, it cannot
      work with Python 2.

  .Requirement
    .Requirement__title 64 Bit OS
    .Requirement__info.
      The desktop application is available for OSX, Windows and multiple
      Linux distributions, but they must be the 64 bit versions.
