.NavigationColumn
  .NavigationColumn__header Prerequisites
  a.NavigationColumn__link(href="#Install-Requirements") Requirements
  a.NavigationColumn__link(href="#Python-Package") Python Package
  .NavigationColumn__header Desktop Application
  a.NavigationColumn__link(href="#OSX-Install") OSX
  a.NavigationColumn__link(href="#Windows-Install") Windows
  a.NavigationColumn__link(href="#Deb-Linux-Install") Linux (Deb)
  a.NavigationColumn__link(href="#Rpm-Linux-Install") Linux (RPM)

