div(class='Display__title') Running in Production

p.
  Cauldron is designed to make it easy to run a notebook in a production
  environment from within Python or directly from a command line.
p.
  When called from within Python the execution would look like this:

pre.
  project_directory = '/directory/of/my/cauldron/notebook/project'
  output_directory = '/save/my/results/in/this/directory'
  logging_path = '/log/data/to/this/filename.log'

  cauldron.run_project(project_directory, output_directory, logging_path)

p.
  This will open, run and then close the specified project. The HTML will
  be exported to the output directory. The data normally printed to the
  console will be saved to the specified logging_path file.
p.
  The exact same command can be run from the command line using the
  cauldron command and supplying the necessary arguments:

pre.
  $ cauldron --project='/directory/of/my/cauldron/notebook/project' \
             --output='/save/my/results/in/this/directory' \
             --log='/log/data/to/this/filename.log'

p.
  This does exactly the same thing as the python script shown above, but
  can be called directly from a terminal or added to a shell script.
