div(class='Display__title') The Notebook Display

p.
  There are a few key concepts when programming Cauldron notebooks that
  differ from traditional notebooks. The first is how the display works.
  Anything that you want to appear in the notebook, from text to graphs, must
  be added to the notebook display using Cauldron's display module.

pre.
  import cauldron as cd
  cd.display.text('Hello World!')

p.
  You access the display from the imported cauldron library as shown in
  the code example above. The one exception is that Python's built-in print
  function will also add text to the display in a monospaced font that
  preserves whitespace just like printing to a console.

p.
  The available functions in the display module are listed in the
  "Display Functions" section of this documentation. Please refer to them
  individually for detail on how they operate.
