div(class='Display__title') Shared &amp; Local Variables

p.
  Cauldron does not share all variables between cells. Instead all
  variables are local unless you explicitly share them using the cauldron
  shared object. Consider a step (cell) in a notebook with the following
  code:

pre.
  import cauldron as cd
  x = 12

p And then another step (cell) with the following code:

pre.
  import cauldron as cd
  print(x)

p.
  If you run these steps in order the second step will raise an exception
  because the x variable is not defined in that step. The proper way to
  share variables between steps is to add them to the cauldron shared
  object like this:

pre.
  import cauldron as cd
  cd.shared.x = 12

p And then another step (cell) with the following code:

pre.
  import cauldron as cd
  print(cd.shared.x)

p.
  In this case the second step will correctly print a value of 12 in the
  second step.
