include ../../components/function-documentation/function-documentation

div(class='Display__title') json
div(class='Display__breadcrumb') cauldron.display.json

+createFunctionDoc(displayFunctions.json)

