include ../../components/function-documentation/function-documentation

div(class='Display__title') text
div(class='Display__breadcrumb') cauldron.display.text

+createFunctionDoc(displayFunctions.text)

