include ../../components/function-documentation/function-documentation

div(class='Display__title') latex
div(class='Display__breadcrumb') cauldron.display.latex

+createFunctionDoc(displayFunctions.latex)

