include ../../components/FunctionDocumentation/FunctionDocumentation

.Display__title head
.Display__breadcrumb cauldron.display.head()

+createFunctionDoc(displayFunctions.head)

.Display__h1 Basic Usage

+createBullet('warning')
  div No special initialization necessary to use Bokeh in Cauldron

:highlight()
  import cauldron as cd

  # Create a list containing integers from 0 to 499
  long_list = list(range(500))

  # Show the first 20 elements of the long list
  cd.display.head(long_list, 20)
