include ../../components/function-documentation/function-documentation

div(class='Display__title') header
div(class='Display__breadcrumb') cauldron.display.header

+createFunctionDoc(displayFunctions.header)
