div(class='benefits')
  div(class='benefits__header').
    A Different Kind of Data Analysis Environment
  div(class='benefits__aligner')

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/ide-choice-circle.svg')
      div(class='benefits-li__label') Your Choice of Editor
      div(class='benefits-li__text').
        How you write your code is as important as how you run it. Develop in
        the editor of your choice and Cauldron will take it from there.
        Unlock the features and sophistication of modern code editors to
        author your notebooks.

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/python-circle.svg')
      div(class='benefits-li__label') Uncompromised Python
      div(class='benefits-li__text').
        Designed, built and optimized specifically for Python. Cauldron
        utilizes features unique to Python to deliver high productivity,
        high performance and streamlined library integration.


  div(class='benefits__header') The Dexterity of a Notebook
  div(class='benefits__aligner')

    div(class='benefits-li')
      img(
        class='benefits-li__icon'
        src='/assets/images/data-persistence-circle.svg'
      )
      div(class='benefits-li__label') Interactive Workflow
      div(class='benefits-li__text').
        What really sets notebooks apart is their distinctive development
        workflow. Cauldron has all of these workflow attributes, including
        data persistence, segmented code execution and dynamic output.

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/bar-plot-circle.svg')
      div(class='benefits-li__label') Rapid Visualization
      div(class='benefits-li__text').
        Quickly visualize and share results in a web-based output. Cauldron is
        packed full of easy-to-use display functions, including integrated
        support for a wide range of Python visualization libraries.


  div(class='benefits__header') The Wisdom of Software Engineering
  div(class='benefits__aligner')

     div(class='benefits-li')
       img(class='benefits-li__icon' src='/assets/images/vcs-circle.svg')
       div(class='benefits-li__label') Version-Control Friendly
       div(class='benefits-li__text').
         Your code exists in standard code files. Nothing is mangled by a
         special notebook file format. This makes Cauldron notebooks compatible
         with common version control systems and the excellent tooling around
         them. Code reviews are beneficial for data analysis as well.

     div(class='benefits-li')
       img(class='benefits-li__icon' src='/assets/images/production-circle.svg')
       div(class='benefits-li__label') Production Focused
       div(class='benefits-li__text').
         Run notebooks in non-interactive mode with Cauldron’s Command Line
         Interface (CLI) or by importing the library into other Python
         programs. Both ways make it easy to run or integrate a Cauldron
         notebook into a production environment.
