.DownloadSection .Platform {
  display: flex;
  flex-direction: row;
  padding: 1.0em;
  align-items: center;
  justify-content: center;

  @media #{$less-than-m} {
    flex-direction: column;
  }

  &__spacer {
    flex-grow: 1;
    min-width: 100px;

    @media #{$less-than-m} {
      display: none;
    }
  }

  &__icon {
    height: 64px;

    @media #{$greater-than-s} {
      margin-right: 0.5em;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

    @media #{$less-than-m} {
      text-align: center;
      padding: 0.5em 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.4);

    @media #{$less-than-m} {
      text-align: center;
      padding: 0.5em 0;
    }
  }

  &__details {
    font-size: 0.9rem;
  }

  &__button {
    border: 3px solid black;
    padding: 0.25em 1em;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
    transition:
            background-color 0.5s ease,
            color 0.5s ease,
            border 0.5s ease;

    &:hover {
      border: 3px solid black;
      background-color: black;
      color: $cauldron-green;
    }
  }
}
