.NewsBanner
  .NewsBanner__container
    i.material-icons.Icon--xl.NewsBanner__icon notifications_active
    .NewsBanner__box
      .NewsBanner__header New Major Release
      .NewsBanner__message
        | Version 1.0 has just been released
        span.bolder-text replacing the old desktop-based user interface
        | with a new web-based one. See the
        a.link.link--gray(href="#LaunchCauldron") launch step
        | in the quick start below to start using the new interface.
