include ../../components/Buttons/Buttons

.ActionSection
  .ActionSection__display
    .ActionSection__title Ready to get Started?
    .ActionSection__p.
      All you need to do is install the desktop application and you will be
      ready to go. Check out the installation guide for details
      and download links.

    +makeRedButton(
      class='ActionSection__button'
      label='Install Reader'
      href='/reader-install'
    )

