extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation

  .Display__title
    .Display__titleFunc def
    | text
  .Display__breadcrumb cauldron.display.text()

  +createFunctionDoc(display_functions.text)(hideTitle=true)

