mixin makeBenefitItem(title, icon)
  .BenefitItem
    img.BenefitItem__icon(src=`/assets/images/${icon}.svg`)
    .BenefitItem__box
      .BenefitItem__label=title
      .BenefitItem__text
        block
