extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation

  .Display__title
    .Display__titleFunc def
    | svg
  .Display__breadcrumb cauldron.display.svg()

  +createFunctionDoc(display_functions.svg)(hideTitle=true)

