.NotebookDisplaySection
  .NotebookDisplaySection__display
    .NotebookDisplaySection__row
      .NotebookDisplaySection__textColumn
        .NotebookDisplaySection__title A Notebook Display

        .NotebookDisplaySection__p
          | with the capabilities to easily visualize everything you've come to
          | expect from a notebook and some extra capabilities that go above
          | and beyond other notebooks.&nbsp;
          span.NotebookDisplaySection--large.
            See more of Cauldron's visual side in the growing gallery of
            examples.

        div.NotebookDisplaySection--large
          a.ActionButton.ActionButton--green(href="/gallery").
            Notebook Gallery

      .NotebookDisplaySection__imageColumn
        img.NotebookDisplaySection__image(
          src="/assets/notebook-thumbnails/v1/snippet-2.png"
        )

    .NotebookDisplaySection__textColumn.NotebookDisplaySection__textColumn--small
      .NotebookDisplaySection__p.
        See more of Cauldron's visual side in the growing gallery of examples.

      a.ActionButton.ActionButton--green(href="/gallery") Notebook Gallery
