extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation

  .Display__title visible
  .Display__breadcrumb cauldron.step.visible

  +createPropertyDoc(step_functions.visible)(
    hideTitle=true
    defaultValue='True'
  )

  .Display__h1 Background

  .Display__p.
    There are times when it's useful to hide a notebook step from the final
    output. It may be a case where not information is always useful, or to
    create a debug versus production form of output. Whatever the case, this
    property is how a step can be hidden from the notebook display.

  .Display__h1 Basic Usage

  .Display__p.
    The property can be set on the step at any point in the step code. In
    this example it's set at the beginning of the step. While the step is
    running, the user will see the output. After the step completes the
    entire step will disappear from the notebook:

  :highlight()
    import cauldron as cd
    import time

    cd.step.visible = False

    print('You will not see this output once the step finishes running.')

    count = 10
    for i in range(count):
        print(f'Sleeping {i + 1} of {count} seconds')
        time.sleep(1)

    print('Sleeping complete. I am going to disappear now.')

  .Display__p.
    The setting can just as easily be set at the end of the step, which might
    be useful for conditional visibility. In this example, the step will be
    visible only if there are new big spenders found during filtering within
    the step:

  :highlight()
    import cauldron as cd
    import pandas as pd

    customers: pd.DataFrame = cd.shared.customers

    volume_threshold = (
        (customers['units_sold'] > 100)
        & (customers['months_old'] < 12)
    )
    new_big_spenders = customers[volume_threshold]

    cd.display.header('Recent Big Spending Customers')
    cd.display.table(new_big_spenders)

    # Don't show this step if there aren't any new big spenders
    cd.step.visible = len(new_big_spenders.index) > 0
