extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation
  include /app/components/NotebookLink/NotebookLink

  .Display__title
    .Display__titleFunc def
    | create_test_fixture
  .Display__breadcrumb cauldron.steptest.create_test_fixture()

  +createFunctionDoc(steptest.create_test_fixture)(hideTitle=true)

  .Display__h1 Basic Usage

  .Display__p.
    The example below shows how to create and use a test fixture.

  :highlight()
    from cauldron import steptest

    test_fixture = steptest.create_test_fixture(__file__)

    def test_notebook_step(tester: steptest.CauldronTest):
        """Should run notebook step without error."""
        tester.run_step('S01-Load-Data.py')

  .Display__p.
    By default the name of the fixture within tests will be called "tester". However,
    that can be changed to whatever you want it to be by specifying the fixture_name
    argument when creating the fixture. The above example with a custom fixture name
    would look like:

  :highlight()
    from cauldron import steptest

    test_fixture = steptest.create_test_fixture(__file__, fixture_name='foo')

    def test_notebook_step(foo: steptest.CauldronTest):
        """Should run notebook step without error."""
        foo.run_step('S01-Load-Data.py')
