include ../../../components/FunctionDocumentation/FunctionDocumentation
include ../../../components/NotebookLink/NotebookLink

.Display__title
  .Display__titleFunc def
  | get_environment_info
.Display__breadcrumb cauldron.get_environment_info()

+createFunctionDoc(cauldron_functions.get_environment_info)(hideTitle=true)
