include ../../../components/FunctionDocumentation/FunctionDocumentation
include ../../../components/NotebookLink/NotebookLink

.Display__title
  .Display__titleFunc def
  | refresh
.Display__breadcrumb cauldron.refresh()

+createFunctionDoc(cauldron_functions.refresh)(hideTitle=true)
