include ../../../components/FunctionDocumentation/FunctionDocumentation
include ../../../components/NotebookLink/NotebookLink

.Display__title
  .Display__titleFunc def
  | run_shell
.Display__breadcrumb cauldron.run_shell()

+createFunctionDoc(cauldron_functions.run_shell)(hideTitle=true)
