include ../../../components/FunctionDocumentation/FunctionDocumentation
include ../../../components/NotebookLink/NotebookLink

.Display__title
  .Display__titleFunc def
  | run_server
.Display__breadcrumb cauldron.run_server()

+createFunctionDoc(cauldron_functions.run_server)(hideTitle=true)
