include ../../../components/FunctionDocumentation/FunctionDocumentation
include ../../../components/NotebookLink/NotebookLink

.Display__title
  .Display__titleFunc def
  | run_project
.Display__breadcrumb cauldron.run_project()

+createFunctionDoc(cauldron_functions.run_project)(hideTitle=true)
