extends /app/docs/DocsLayout

block content
  include /app/components/FunctionDocumentation/FunctionDocumentation
  include /app/components/NotebookLink/NotebookLink

  .Display__title
    .Display__titleClass class
    | StepTestRunResult
  .Display__breadcrumb cauldron.steptest.StepTestRunResult

  .Display__p!=StepTestRunResult.StepTestRunResult.description


  .Display__h2 Properties

  .Display__entry1
    +createPropertyDoc(StepTestRunResult.local)

  .Display__entry1
    +createPropertyDoc(StepTestRunResult.success)

  .Display__h2 Methods

  .Display__entry1
    +createFunctionDoc(StepTestRunResult.echo_error)

  .Display__h1 Examples

  +createNotebookLink('v1', 'step-testing-example', 'Step Testing Example')
    div
      | A basic example of a notebook that includes step unit testing
      | to validate some functionality of the notebook.
